Repository techysiddhant/10xcoder.club: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix, bun --cwd packages/ui run lint -- --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}": ["prettier --write"],
  "apps/web/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/web run lint -- --fix"],
  "apps/api/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/api run lint -- --fix"],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "bun --cwd packages/ui run lint -- --fix"
  ]
}

chore(lockfile): update bun.lock to version 1, adjust workspace dependencies
  bun.lock
Due: none

chore(dependencies): update missing packages
  apps/api/package.json
  apps/web/package.json
  bun.lock
Due: prettier --write

refactor(docker): streamline Dockerfile stages and enhance caching for dependency installation
  apps/server/Dockerfile
Due: none

refactor(docker): reorganize Dockerfile stages for improved clarity and efficiency
  apps/server/Dockerfile
Due: none

refactor(docker): update Dockerfile for improved dependency management and build process
  .dockerignore
  apps/server/Dockerfile
Due: none

refactor(docker): modify bun install command in Dockerfile for consistent lockfile usage
  apps/server/Dockerfile
Due: none

refactor(docker): enhance Dockerfile to build Node-runnable bundle entrypoint and server startup
  apps/server/Dockerfile
Due: none

chore(workflows): update image tagging in build-push and deploy-prod workflows for improved version
  .github/workflows/build-push.yml
  .github/workflows/deploy-prod.yml
Due: prettier --write

chore(workflows): add input for image tag in deploy-prod workflow to allow custom deployments
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix(logger): add error handling for Logflare transport initialization to ensure fallback to logging
  apps/server/src/lib/logger.ts
Due: prettier --write

fix(logger): improve Logflare configuration validation and add warning for incomplete setup
  apps/server/src/lib/logger.ts
Due: prettier --write

chore(docker-compose): add VERSION and PING configuration options to docker-compose.infra.yml
  docker-compose.infra.yml
Due: prettier --write

chore(docker-compose): add EVENTS configuration and update DOCKER_API_VERSION
  docker-compose.infra.yml
Due: prettier --write

chore(workflows): update recreate infrastructure services and check Traefik environment variables
  .github/workflows/deploy-prod.yml
Due: prettier --write

chore(docker-compose): add DOCKER_HOST environment variable and remove endpoint from Traefik config
  docker-compose.infra.yml
  traefik/traefik.yml
Due: prettier --write

chore(docker-compose): update socket-proxy and Traefik images to latest versions
  docker-compose.infra.yml
Due: prettier --write

chore(docker-compose): downgrade socket-proxy image to version 0.2
  docker-compose.infra.yml
Due: prettier --write

chore(docker-compose): add Traefik HTTP router and middleware configurations
  docker-compose.infra.yml
  docker-compose.yml
Due: prettier --write

chore(docker-compose): remove DOCKER_HOST from docker-compose and set endpoint in Traefik config
  docker-compose.infra.yml
  traefik/traefik.yml
Due: prettier --write

chore(docker-compose): update Traefik configuration to use Docker socket directly
  docker-compose.infra.yml
  traefik/traefik.yml
Due: prettier --write

chore(docker-compose): update Traefik image to version 3.6.7
  docker-compose.infra.yml
Due: prettier --write

chore(docker-compose): add middleware configuration for Traefik router
  docker-compose.infra.yml
Due: prettier --write

chore(deploy): streamline Docker Compose commands with .env file usage
  .github/workflows/deploy-prod.yml
Due: prettier --write

refactor(routes): update API endpoint paths and modify OpenAPI document title
  apps/server/src/app.ts
Due: prettier --write

refactor(logger): enhance logging configuration to prioritize Logflare transport
  apps/server/src/lib/logger.ts
Due: prettier --write

chore(docker-compose): add basic authentication middleware for Traefik
  .github/workflows/deploy-prod.yml
  docker-compose.infra.yml
  traefik/dynamic.yml
Due: prettier --write

chore(docker-compose): remove Dozzle authentication environment variables
  docker-compose.infra.yml
Due: prettier --write

chore(deploy): add checks for Traefik auth file existence in deployment workflow
  .github/workflows/deploy-prod.yml
Due: prettier --write

chore(deploy): enhance Traefik auth file generation with validation checks
  .github/workflows/deploy-prod.yml
Due: prettier --write

chore(deploy): improve .env file creation and Traefik auth value handling
  .github/workflows/deploy-prod.yml
Due: prettier --write

feat(seed): add initial resource types and seeding functionality
  apps/server/src/db/seed/index.ts
  apps/server/src/db/seed/resourceType.ts
Due: prettier --write

feat(openapi): conditionally load OpenAPI paths and components for non-production environments
  apps/server/src/app.ts
Due: prettier --write

refactor(auth-openapi): rename components property to getComponents and update import logic
  apps/server/src/app.ts
  apps/server/src/lib/auth-open-api.ts
Due: prettier --write

refactor(home): update layout structure and improve text styling across components
  apps/web/app/(root)/page.tsx
  apps/web/components/header.tsx
  apps/web/components/home/cta.tsx
  apps/web/components/home/example-preview.tsx
  apps/web/components/home/hero.tsx
  apps/web/components/home/how-curation-work.tsx
  apps/web/components/home/resource-preview-card.tsx
  apps/web/components/home/what-youll-find.tsx
  apps/web/components/home/why-this-exists.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(email): integrate email template IDs and enhance email sending functionality
  apps/server/src/constant/index.ts
  apps/server/src/lib/autosend.ts
  apps/server/src/lib/email-queue.ts
  apps/web/components/home/resource-preview-card.tsx
  apps/web/package.json
Due: prettier --write, bun --cwd apps/web run lint -- --fix

fix(layout): update canonical URL to point to the new domain
  apps/web/app/layout.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

fix(layout): update metadata titles for improved branding and SEO
  apps/web/app/layout.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(routes): reorganize public and protected route registration for clarity
  apps/server/src/routes/resources/resources.index.ts
  apps/web/app/sitemap.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

chore(config): update package.json scripts and README for Hono integration and server configuration
  README.md
  apps/server/.env.example
  package.json
Due: prettier --write

refactor(header): comment out header notice for layout adjustments and maintain responsiveness
  apps/web/components/header.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix
