Repository techysiddhant/10xcoder.club: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix, bun --cwd packages/ui run lint -- --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}": ["prettier --write"],
  "apps/web/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/web run lint -- --fix"],
  "apps/api/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/api run lint -- --fix"],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "bun --cwd packages/ui run lint -- --fix"
  ]
}

refactor(web): streamline voting logic and introduce optimistic updates with new vote cache hooks
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/app/(root)/resources/resources.tsx
  apps/web/app/layout.tsx
  apps/web/components/resources/read-more-description.tsx
  apps/web/components/resources/vote-counter.tsx
  apps/web/hooks/use-vote-cache.ts
  apps/web/lib/vote-utils.ts
  packages/ui/src/styles/globals.css
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(web): improve voting mechanism by utilizing query client for live resource updates
  apps/web/app/(root)/resources/resources.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(web): add admin dashboard link to user profile dropdown for admin users
  apps/web/components/user-profile-dropdown.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(api): enhance SSE stream handling with CORS support and heartbeat mechanism
  apps/api/src/routes/vote/index.ts
  nginx/conf.d/default.conf
Due: prettier --write, bun --cwd apps/api run lint -- --fix

fix(api): ensure client removal from vote tracking on disconnect
  apps/api/src/routes/vote/index.ts
Due: prettier --write, bun --cwd apps/api run lint -- --fix

refactor(api): update Dockerfile and package.json for Bun integration and streamline build process
  apps/api/Dockerfile
  apps/api/package.json
Due: prettier --write

chore(api): update Dockerfile to use Bun 1.3.9 and streamline dependency installation
  apps/api/Dockerfile
Due: none

chore(api): update Dockerfile to use frozen lockfile for Bun dependency installation
  apps/api/Dockerfile
Due: none

chore(api): update bun.lock to version 1 and adjust workspace dependencies for improved resolution
  bun.lock
Due: none

feat(api): integrate New Relic for performance monitoring and add configuration to docker-compose
  apps/api/newrelic.js
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/server.ts
  docker-compose.yml
Due: prettier --write, bun --cwd apps/api run lint -- --fix

chore(server): add linting scripts and update dependencies in package.json and bun.lock
  .lintstagedrc.json
  apps/server/.env.example
  apps/server/docker-compose.dev.yml
  apps/server/drizzle/0000_true_grandmaster.sql
  apps/server/drizzle/meta/0000_snapshot.json
  apps/server/drizzle/meta/_journal.json
  apps/server/eslint.config.mjs
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/config/env.ts
  apps/server/src/controllers/admin.controller.ts
  apps/server/src/controllers/index.controller.ts
  apps/server/src/db/index.ts
  apps/server/src/drizzle.config.ts
  apps/server/src/index.ts
  apps/server/src/lib/auth-open-api.ts
  apps/server/src/lib/auth.ts
  apps/server/src/lib/autosend.ts
  apps/server/src/lib/create-app.ts
  apps/server/src/lib/email-queue.ts
  apps/server/src/lib/logger.ts
  apps/server/src/lib/metrics.ts
  apps/server/src/lib/redis.ts
  apps/server/src/lib/sentry.ts
  apps/server/src/lib/types.ts
  apps/server/src/middleware/auth.middleware.ts
  apps/server/src/middleware/metrics.ts
  apps/server/src/routes/admin/admin.index.ts
  apps/server/src/routes/admin/admin.routes.ts
  apps/server/src/routes/index/index.index.ts
  apps/server/src/routes/index/index.routes.ts
  apps/server/src/services/email-job.service.ts
  apps/server/tsconfig.json
  bun.lock
  package.json
Due: prettier --write

chore(server): update dependencies in package.json modify environment variables
  apps/server/.env.example
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/config/env.ts
  apps/server/src/index.ts
  apps/server/src/lib/auth.ts
  apps/server/src/lib/autosend.ts
  apps/server/src/middleware/metrics.ts
  apps/server/src/services/email-job.service.ts
  bun.lock
Due: prettier --write

refactor(server): improve request logging and enhance email job retry logic
  apps/server/src/app.ts
  apps/server/src/services/email-job.service.ts
Due: prettier --write

feat(server): implement S3 file upload functionality with presigned URLs and update environment
  apps/server/.env.example
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/config/env.ts
  apps/server/src/controllers/upload.controller.ts
  apps/server/src/lib/s3.ts
  apps/server/src/routes/upload/upload.index.ts
  apps/server/src/routes/upload/upload.routes.ts
  apps/server/src/services/email-job.service.ts
  apps/server/src/services/upload.service.ts
  bun.lock
Due: prettier --write

feat(server): add scraping functionality with multiple providers and rate limiting middleware
  apps/server/package.json
  apps/server/src/config/env.ts
  apps/server/src/controllers/scrape.controller.ts
  apps/server/src/lib/errors.ts
  apps/server/src/lib/providers/devto.provider.ts
  apps/server/src/lib/providers/generic.provider.ts
  apps/server/src/lib/providers/github.provider.ts
  apps/server/src/lib/providers/hashnode.provider.ts
  apps/server/src/lib/providers/index.ts
  apps/server/src/lib/providers/youtube.provider.ts
  apps/server/src/middleware/rate-limit.middleware.ts
  apps/server/src/routes/scrape/scrape.index.ts
  apps/server/src/routes/scrape/scrape.routes.ts
  apps/server/src/services/email-job.service.ts
  apps/server/src/services/scrape.service.ts
  apps/server/src/services/upload.service.ts
  apps/server/src/types/scrape.ts
Due: prettier --write

feat(server): add scrape route and enhance error handling in providers
  apps/server/src/app.ts
  apps/server/src/lib/providers/devto.provider.ts
  apps/server/src/lib/providers/generic.provider.ts
  apps/server/src/lib/providers/github.provider.ts
  apps/server/src/lib/providers/hashnode.provider.ts
  apps/server/src/lib/providers/index.ts
  apps/server/src/lib/providers/youtube.provider.ts
  apps/server/src/services/upload.service.ts
Due: prettier --write

fix(server): enhance regex for YouTube video ID extraction and improve CDN URL validation in upload
  apps/server/src/lib/providers/generic.provider.ts
  apps/server/src/lib/providers/youtube.provider.ts
  apps/server/src/services/upload.service.ts
Due: prettier --write

feat(server): add Google GenAI dependency and refactor resource query limit handling
  apps/server/package.json
  apps/server/src/constant/index.ts
  apps/server/src/services/resources.service.ts
Due: prettier --write

fix(server): update resource query to use ARRAY syntax for resource IDs in SQL
  apps/server/src/services/resources.service.ts
Due: prettier --write

fix(server): clamp resource query limit and enhance pagination handling for vector search
  apps/server/src/services/resources.service.ts
Due: prettier --write

feat(server): implement resource management endpoints and enhance server functionality
  apps/server/package.json
  apps/server/src/controllers/admin.controller.ts
  apps/server/src/index.ts
  apps/server/src/routes/admin/admin.index.ts
  apps/server/src/routes/admin/admin.routes.ts
  apps/server/src/services/admin.service.ts
  bun.lock
  package.json
Due: prettier --write

fix(server): enhance error handling and response structure in resource management endpoints
  apps/server/src/controllers/admin.controller.ts
  apps/server/src/routes/admin/admin.routes.ts
  apps/server/src/services/admin.service.ts
Due: prettier --write

fix(server): improve error handling and response messages in resource type management
  apps/server/src/controllers/admin.controller.ts
Due: prettier --write

feat(server): implement voting functionality with upvote, downvote, and streaming capabilities
  apps/server/src/app.ts
  apps/server/src/controllers/vote.controller.ts
  apps/server/src/index.ts
  apps/server/src/lib/vote-subscriber.ts
  apps/server/src/lib/vote-worker.ts
  apps/server/src/routes/vote/vote.index.ts
  apps/server/src/routes/vote/vote.routes.ts
Due: prettier --write

fix(server): improve error handling for vote transactions & update response schemas for unauthorized
  apps/server/src/controllers/vote.controller.ts
  apps/server/src/lib/vote-worker.ts
  apps/server/src/routes/vote/vote.routes.ts
Due: prettier --write

fix(server): improve error handling for SSE event writing in vote streaming
  apps/server/src/controllers/vote.controller.ts
Due: prettier --write

fix(server): add error handling for SSE connection in vote streaming
  apps/server/src/controllers/vote.controller.ts
Due: prettier --write

fix(server): streamline abort handling in vote streaming to improve connection stability
  apps/server/src/controllers/vote.controller.ts
Due: prettier --write

fix(server): refine abort handling in vote streaming to prevent client disconnection issues
  apps/server/src/controllers/vote.controller.ts
Due: prettier --write

feat(server): add getCounts endpoint to retrieve vote counts for resources
  apps/server/src/controllers/vote.controller.ts
  apps/server/src/routes/vote/vote.index.ts
  apps/server/src/routes/vote/vote.routes.ts
Due: prettier --write

feat(infrastructure): add Docker Compose configuration for Traefik, Dozzle, Uptime Kuma, and service
  .github/workflows/build-push.yml
  .github/workflows/deploy-prod.yml
  apps/api/Dockerfile
  apps/server/Dockerfile
  apps/server/migration.Dockerfile
  apps/server/src/app.ts
  docker-compose.infra.yml
  docker-compose.yml
  nginx/conf.d/default.conf
  scripts/server-ops.sh
  traefik/dynamic.yml
  traefik/traefik.yml
Due: prettier --write

fix(docker): update healthcheck command syntax and adjust deployment wait times
  .github/workflows/build-push.yml
  .github/workflows/deploy-prod.yml
  apps/server/Dockerfile
  docker-compose.yml
  scripts/server-ops.sh
  traefik/dynamic.yml
Due: prettier --write

fix(docker): remove frozen-lockfile option from bun install in Dockerfile
  apps/server/Dockerfile
Due: none

fix(docker): change app_net to external in Docker Compose configuration
  docker-compose.infra.yml
Due: prettier --write

fix(docker): update PostgreSQL data volume path in Docker Compose configuration
  docker-compose.yml
Due: prettier --write

fix(docker): remove container_name from server service in Docker Compose configuration
  docker-compose.yml
Due: prettier --write

fix(server): enhance error handling for vote subscriber initialization to allow SSE to continue
  apps/server/src/index.ts
Due: prettier --write

fix(docker): add entrypoint shim for Node to ensure stable path for compiled output
  apps/server/Dockerfile
Due: none

refactor(docker): optimize Dockerfile stages and improve dependency installation process
  apps/server/Dockerfile
  apps/server/package.json
Due: prettier --write
