Repository techysiddhant/10xcoder.club: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix, bun --cwd packages/ui run lint -- --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}": ["prettier --write"],
  "apps/web/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/web run lint -- --fix"],
  "apps/api/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/api run lint -- --fix"],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "bun --cwd packages/ui run lint -- --fix"
  ]
}

chore: add @tanstack/react-form and related dependencies to package.json and bun.lock
  apps/web/package.json
  bun.lock
Due: prettier --write

feat: enhance resource creation with Suspense loading and update schema types
  apps/web/app/(root)/resources/page.tsx
  apps/web/components/editor/editor.tsx
  apps/web/components/resources/create-resource-form.tsx
  apps/web/lib/schema.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat: update image upload handling in resource creation form to include file metadata
  apps/web/components/resources/create-resource-form.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

chore(web): add html-react-parser dependency and refactor session handling in profile and resource
  apps/web/app/(root)/(my)/profile/profile.tsx
  apps/web/app/(root)/resources/resources.tsx
  apps/web/components/profile/profile-quicklinks.tsx
  apps/web/components/resources/create-resource.tsx
  apps/web/package.json
  bun.lock
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(api, web): enhance resource retrieval and submissions management
  apps/api/src/controllers/resources.controller.ts
  apps/api/src/routes/resources/index.ts
  apps/api/src/services/resources.service.ts
  apps/web/app/(root)/(my)/submissions/page.tsx
  apps/web/app/(root)/(my)/submissions/submission.tsx
  apps/web/components/footer.tsx
  apps/web/components/header.tsx
  apps/web/components/logo.tsx
  apps/web/components/resources/create-resource.tsx
  apps/web/components/submissions/user-submissions.tsx
  apps/web/components/user-profile-dropdown.tsx
  apps/web/lib/http.ts
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/alert.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/tooltip.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix, bun --cwd packages/ui run lint -- --fix

feat(web): implement session handling and resource deletion in submissions
  apps/web/app/(root)/(my)/submissions/submission.tsx
  apps/web/components/submissions/user-submissions.tsx
  apps/web/lib/http.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(web): update resource deletion logic to account for published status
  apps/web/components/submissions/user-submissions.tsx
  apps/web/lib/types.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

chore(api): add database package.json and source files to Dockerfile
  apps/api/Dockerfile
Due: none

chore(api): include api-types package.json in Dockerfile
  apps/api/Dockerfile
Due: none

feat(web): integrate Google Tag Manager and update dependencies for analytics tracking
  apps/web/.env.example
  apps/web/app/layout.tsx
  apps/web/components/header.tsx
  apps/web/components/resources/create-resource.tsx
  apps/web/env/public.ts
  apps/web/package.json
  bun.lock
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(web): update app icons and manifest for branding consistency
  apps/web/app/(root)/layout.tsx
  apps/web/app/apple-icon.png
  apps/web/app/favicon.ico
  apps/web/app/icon0.svg
  apps/web/app/icon1.png
  apps/web/app/manifest.json
  apps/web/components/header.tsx
  apps/web/public/web-app-manifest-192x192.png
  apps/web/public/web-app-manifest-512x512.png
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(web): enhance SEO and metadata structure with sitemap, robots.txt, and improved page metadata
  apps/web/app/(auth)/auth/page.tsx
  apps/web/app/(root)/(my)/profile/page.tsx
  apps/web/app/(root)/(my)/submissions/page.tsx
  apps/web/app/(root)/page.tsx
  apps/web/app/(root)/resources/[id]/page.tsx
  apps/web/app/(root)/resources/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/opengraph-image.png
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/components/home/hero.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

fix(web): conditionally render Google Analytics and limit sitemap pagination prevent infinite loop
  apps/web/app/layout.tsx
  apps/web/app/sitemap.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

fix(web): add error handling to resource fetching in generateStaticParams
  apps/web/app/(root)/resources/[id]/page.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

fix(web): ensure BASE URL in sitemap does not end with a trailing slash
  apps/web/app/sitemap.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

fix(web): correctly position Google Analytics rendering within the layout component
  apps/web/app/layout.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(api): add CORS_ORIGIN environment variable and update auth configuration for trusted origins
  apps/api/.env.example
  apps/api/src/lib/auth.ts
  apps/web/app/layout.tsx
  docker-compose.yml
  nginx/conf.d/default.conf
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix

feat(web): update SEO metadata by adding canonical URL and adjusting robots.txt for auth page
  apps/web/app/(auth)/auth/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(api): enhance GenericProvider with robots diagnostics and improved image handling
  apps/api/src/lib/providers/generic.provider.ts
  apps/api/src/routes/scrape/scrape.schema.ts
  apps/api/src/types/index.ts
  apps/web/app/(root)/resources/[id]/page.tsx
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/components/resources/create-resource-form.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix

feat(docker): expose PostgreSQL port for local access in docker-compose
  docker-compose.yml
Due: prettier --write

feat(database): migrate resource schema to use UUIDv7 and update PostgreSQL image in docker-compose
  apps/api/drizzle/0003_uuidv7_resource_domain.sql
  apps/api/drizzle/meta/_journal.json
  docker-compose.yml
  packages/database/src/schema/resource.ts
  packages/database/src/schema/resourceToTags.ts
  packages/database/src/schema/resourceToTechStack.ts
  packages/database/src/schema/resourceType.ts
  packages/database/src/schema/tag.ts
  packages/database/src/schema/techStack.ts
  packages/database/src/schema/vote.ts
Due: prettier --write

fix(docker): update PostgreSQL data volume path in docker-compose.yml
  apps/api/src/app.ts
  docker-compose.yml
Due: prettier --write, bun --cwd apps/api run lint -- --fix

feat(api): increase resource description limit to 5000 chars and implement markdown in resource form
  apps/api/drizzle/0004_fine_description_limit.sql
  apps/api/drizzle/meta/_journal.json
  apps/api/src/controllers/resources.controller.ts
  apps/api/src/routes/resources/resources.schema.ts
  apps/web/app/(root)/resources/[id]/page.tsx
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/components/editor/markdown-renderer.tsx
  apps/web/components/editor/pr-markdown-editor.tsx
  apps/web/components/resources/create-resource-form.tsx
  apps/web/components/resources/create-resource.tsx
  apps/web/lib/markdown.ts
  apps/web/lib/schema.ts
  apps/web/package.json
  bun.lock
  packages/database/src/schema/resource.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix

refactor(api): streamline resource ID validation and enhance error handling for not found responses
  apps/api/src/controllers/resources.controller.ts
  apps/web/components/editor/markdown-renderer.tsx
  apps/web/components/resources/create-resource-form.tsx
  apps/web/lib/markdown.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix

feat(docker): add migration verification step in production deployment workflow
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix(workflow): improve error handling for migration verification in production deployment
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix(workflow): update migration verification output messages for clarity in production deployment
  .github/workflows/deploy-prod.yml
Due: prettier --write

feat(workflow): add workflow_dispatch trigger to production deployment for manual execution
  .github/workflows/deploy-prod.yml
Due: prettier --write

fix(workflow): allow manual execution of production deployment by adding workflow_dispatch condition
  .github/workflows/deploy-prod.yml
Due: prettier --write

feat(workflow): add workflow_dispatch trigger to build-push workflow for manual execution
  .github/workflows/build-push.yml
  .github/workflows/deploy-prod.yml
  apps/api/migration.Dockerfile
Due: prettier --write

feat(admin): enhance resource management with new resource type filtering and admin layout component
  apps/api/src/app.ts
  apps/api/src/controllers/admin.controller.ts
  apps/api/src/routes/admin/index.ts
  apps/api/src/services/admin.service.ts
  apps/web/app/(admin)/admin/layout.tsx
  apps/web/app/(admin)/admin/resources/page.tsx
  apps/web/components/admin/admin-auth-provider.tsx
  apps/web/components/admin/admin-sidebar.tsx
  apps/web/components/admin/resources/resource-table.tsx
  apps/web/components/profile/profile-quicklinks.tsx
  apps/web/components/submissions/user-submissions.tsx
  apps/web/lib/auth-client.ts
  apps/web/lib/http.ts
  apps/web/lib/types.ts
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/hooks/use-mobile.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix, bun --cwd packages/ui run lint -- --fix

refactor(admin): update admin layout to dynamically set header titles
  apps/web/app/(admin)/admin/layout.tsx
  apps/web/components/admin/admin-auth-provider.tsx
  apps/web/components/admin/resources/resource-table.tsx
  apps/web/env/server.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(admin): replace admin-auth-provider with admin-layout component and enhance sidebar
  apps/web/app/(admin)/admin/layout.tsx
  apps/web/components/admin/admin-layout.tsx
  apps/web/components/admin/admin-sidebar.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

chore(env): update .env.example to include API_URL
  apps/web/.env.example
  apps/web/components/admin/admin-layout.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(turbo): add global environment variables to turbo.json for enhanced configuration
  turbo.json
Due: prettier --write

feat(resources): implement edit resource functionality with form handling and validation
  apps/web/app/(root)/page.tsx
  apps/web/app/(root)/resources/[id]/edit/page.tsx
  apps/web/components/resources/create-resource-form.tsx
  apps/web/components/resources/edit-resource-form.tsx
  apps/web/components/resources/resource-form-core.tsx
  apps/web/components/submissions/user-submissions.tsx
  apps/web/lib/http.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(resources): enhance edit resource functionality with validation and cache updates
  apps/web/app/(root)/resources/[id]/edit/page.tsx
  apps/web/components/resources/edit-resource-form.tsx
  apps/web/components/resources/resource-form-core.tsx
  apps/web/components/submissions/user-submissions.tsx
  packages/database/src/index.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(web): implement voting system with real-time updates and user feedback
  apps/api/src/routes/resources/resources.schema.ts
  apps/api/src/services/resources.service.ts
  apps/api/src/services/vote.service.ts
  apps/web/app/(root)/layout.tsx
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/app/(root)/resources/resources.tsx
  apps/web/app/layout.tsx
  apps/web/components/providers/vote-stream-provider.tsx
  apps/web/components/resources/read-more-description.tsx
  apps/web/components/resources/resource-card.tsx
  apps/web/components/resources/vote-arrow-icon.tsx
  apps/web/components/resources/vote-counter.tsx
  apps/web/hooks/use-vote-stream.ts
  apps/web/hooks/use-vote.ts
  apps/web/lib/http.ts
  packages/ui/src/styles/globals.css
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix
