Repository techysiddhant/10xcoder.club: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd apps/api run lint -- --fix, bun --cwd packages/ui run lint -- --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}": ["prettier --write"],
  "apps/web/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/web run lint -- --fix"],
  "apps/api/**/*.{js,jsx,ts,tsx}": ["bun --cwd apps/api run lint -- --fix"],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "bun --cwd packages/ui run lint -- --fix"
  ]
}

refactor(layout): adjust padding in layout and header for improved spacing and responsiveness
  apps/web/app/(root)/layout.tsx
  apps/web/components/header.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(metadata): add metadata handling for resources, including YouTube playlists and GitHub details
  apps/server/src/controllers/resources.controller.ts
  apps/server/src/lib/providers/github.provider.ts
  apps/server/src/routes/resources/resources.routes.ts
  apps/server/src/services/resources.service.ts
  apps/server/src/types/scrape.ts
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/components/resources/create-resource-form.tsx
  apps/web/lib/schema.ts
  apps/web/lib/types.ts
  apps/web/lib/utils.ts
  packages/database/src/schema/resource.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(sentry): integrate Sentry for error tracking and monitoring in the web application
  apps/web/.env.example
  apps/web/app/global-error.tsx
  apps/web/env/public.ts
  apps/web/instrumentation-client.ts
  apps/web/instrumentation.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  bun.lock
  turbo.json
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(admin): replace session management with AdminGuard for improved authentication handling
  apps/web/app/(admin)/admin/layout.tsx
  apps/web/app/(root)/layout.tsx
  apps/web/app/(root)/resources/layout.tsx
  apps/web/components/admin/admin-guard.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(sentry): update Sentry configuration to conditionally set parameters based on environment
  apps/web/instrumentation-client.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(deploy): enhance deployment workflow with disk usage reporting and image pull recovery
  .github/workflows/deploy-prod.yml
Due: prettier --write

feat(deploy): implement targeted Docker cleanup strategies for improved image pull recovery
  .github/workflows/deploy-prod.yml
Due: prettier --write

feat(routes): implement public resource access with optional authentication and enhance sitemap
  apps/server/src/routes/resources/resources.index.ts
  apps/web/app/sitemap.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(layout): streamline layout components by integrating AppClientProviders and QueryProvider
  apps/web/app/(admin)/admin/layout.tsx
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(root)/(my)/layout.tsx
  apps/web/app/(root)/layout.tsx
  apps/web/app/(root)/resources/layout.tsx
  apps/web/app/layout.tsx
  apps/web/components/editor/editor.css
  apps/web/components/editor/editor.tsx
  apps/web/components/home/auth-cta-link.tsx
  apps/web/components/home/cta.tsx
  apps/web/components/home/hero.tsx
  apps/web/components/providers/app-client-providers.tsx
  apps/web/components/providers/query-provider.tsx
  packages/ui/src/styles/globals.css
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(analytics): integrate Google Analytics and refactor header components for improved user exp
  apps/web/app/(root)/(my)/layout.tsx
  apps/web/app/(root)/layout.tsx
  apps/web/app/(root)/resources/layout.tsx
  apps/web/app/layout.tsx
  apps/web/components/google-analytics.tsx
  apps/web/components/header-actions-loader.tsx
  apps/web/components/header-actions.tsx
  apps/web/components/header.tsx
  apps/web/components/home/auth-cta-link.tsx
  apps/web/components/home/hero.tsx
  apps/web/components/providers/query-provider.tsx
  apps/web/components/resources/create-resource.tsx
  apps/web/lib/analytics.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(analytics): update Google Analytics loading strategy and remove deprecated header actions
  apps/web/components/google-analytics.tsx
  apps/web/components/header-actions-loader.tsx
  apps/web/components/header.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(analytics): replace custom Google Analytics implementation with third-party component
  apps/web/components/google-analytics.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

fix(sitemap): change cache strategy from no-store to force-cache for improved resource fetching
  apps/web/app/sitemap.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat(sitemap): add revalidation to fetchResourcesPage for improved caching strategy
  apps/web/app/sitemap.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor(resources): adjust padding in resource detail and resource card components
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/components/resources/resource-card.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat: add support for DATABASE_URL and REDIS_URL and include Railway deployment configuration
  apps/server/src/config/env.ts
  apps/server/src/db/index.ts
  apps/server/src/drizzle.config.ts
  apps/server/src/index.ts
  apps/server/src/lib/email-queue.ts
  apps/server/src/lib/queue.ts
  apps/server/src/lib/redis.ts
  apps/server/src/lib/vote-subscriber.ts
  apps/server/src/lib/vote-worker.ts
  railway.toml
Due: prettier --write

fix: enforce REDIS_URL validation, URI-decode credentials, and reduce healthcheck timeout
  apps/server/src/config/env.ts
  apps/server/src/lib/redis.ts
  railway.toml
Due: prettier --write

chore: add persistent cache ID to bun install layers in Dockerfile
  apps/server/Dockerfile
Due: none

chore: remove redundant cache IDs from bun install layers in Dockerfile
  apps/server/Dockerfile
Due: none

chore: remove docker build cache mounts from server Dockerfile
  apps/server/Dockerfile
Due: none

refactor: update dockerignore to scope build outputs to app directories
  .dockerignore
Due: none

chore: archive VPS deployment files to deployment-old/
  deployment-old/apps/server/docker-compose.dev.yml
  deployment-old/apps/server/migration.Dockerfile
  deployment-old/docker-compose.infra.yml
  deployment-old/docker-compose.yml
  deployment-old/github-workflows/build-push.yml
  deployment-old/github-workflows/deploy-prod.yml
  deployment-old/github-workflows/deploy-test.yml
  deployment-old/github-workflows/destroy-test.yml
  deployment-old/scripts/add-dozzle-user.sh
  deployment-old/scripts/cloudflare-ddns.sh
  deployment-old/scripts/migrate.sh
  deployment-old/scripts/redis-healthcheck.sh
  deployment-old/scripts/reset-test-db.sh
  deployment-old/scripts/run-migrations.sh
  deployment-old/scripts/server-ops.sh
  deployment-old/scripts/setup-cloudflare-ddns.sh
  deployment-old/scripts/setup-cloudflare-ssl.sh
  deployment-old/scripts/start-test.sh
  deployment-old/scripts/stop-test.sh
  deployment-old/traefik/dynamic.yml
  deployment-old/traefik/traefik.yml
Due: prettier --write

feat: migrate image upload and delivery from S3 to ImageKit with new server-side authentication
  apps/server/.env.example
  apps/server/package.json
  apps/server/src/config/env.ts
  apps/server/src/constant/index.ts
  apps/server/src/controllers/upload.controller.ts
  apps/server/src/lib/imagekit.ts
  apps/server/src/lib/s3.ts
  apps/server/src/routes/upload/upload.routes.ts
  apps/server/src/services/upload.service.ts
  apps/web/.env.example
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/components/profile/profile-picture.tsx
  apps/web/components/resources/resource-card.tsx
  apps/web/components/resources/resource-form-core.tsx
  apps/web/components/shared/smart-image.tsx
  apps/web/env/public.ts
  apps/web/lib/images.ts
  apps/web/lib/utils.ts
  apps/web/package.json
  bun.lock
Due: prettier --write, bun --cwd apps/web run lint -- --fix

feat: implement ImageKit upload timeout, reset state on source change, and improve URL path parsing
  apps/server/src/services/upload.service.ts
  apps/web/components/shared/smart-image.tsx
  apps/web/lib/images.ts
  apps/web/lib/utils.ts
Due: prettier --write, bun --cwd apps/web run lint -- --fix

refactor: remove Logflare environment variable configuration
  apps/server/src/config/env.ts
Due: prettier --write

feat: add Logflare API key and source ID to environment configuration schema
  apps/server/src/config/env.ts
Due: prettier --write

feat: integrate Gemini AI and add a reusable Combobox component
  apps/server/src/controllers/admin.controller.ts
  apps/server/src/lib/errors.ts
  apps/server/src/lib/gemini.ts
  apps/server/src/routes/admin/admin.index.ts
  apps/server/src/routes/admin/admin.routes.ts
  apps/web/app/(root)/resources/[id]/resource-detail.tsx
  apps/web/components/resources/resource-card.tsx
  apps/web/components/resources/resource-filter.tsx
  apps/web/components/resources/resource-form-core.tsx
  apps/web/lib/http.ts
  bun.lock
  packages/ui/package.json
  packages/ui/src/components/combobox.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd packages/ui run lint -- --fix

feat: add URL redaction to logs, enforce strict input validation, improve AI generation safety
  apps/server/src/controllers/admin.controller.ts
  apps/server/src/lib/gemini.ts
  apps/server/src/routes/admin/admin.routes.ts
  apps/web/components/resources/resource-filter.tsx
  apps/web/components/resources/resource-form-core.tsx
Due: prettier --write, bun --cwd apps/web run lint -- --fix

chore: update ESLint configuration with tsconfigRootDir and migrate Tailwind arbitrary values
  apps/api/eslint.config.mjs
  apps/server/eslint.config.mjs
  apps/web/components/resources/resource-filter.tsx
  packages/ui/eslint.config.js
Due: prettier --write, bun --cwd apps/web run lint -- --fix, bun --cwd packages/ui run lint -- --fix
